<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>동적 폼 전송</title>
  </head>
  <body>
    <h1>Axios get 회원가입</h1>
    <form action="/axios" method="get" name="signUp">
      이름 <input type="text" name="name" />
      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" value="여자" id="women" />
        <label for="women">여자</label>
        <input type="radio" name="gender" value="남자" id="men" />
        <label for="men">남자</label>
      </fieldset>
      <fieldset>
        <legend>생년월일</legend>
        <select name="year">
          <% for(let i = 2023; i >= 1970; i-- ) { %>
          <option value="<%=i%>"><%=i%></option>
          <% } %>
        </select>

        <select name="month">
          <% for(let i = 1; i <= 12; i++ ) { %>
          <option value="<%=i%>"><%=i%></option>
          <% } %>
        </select>

        <select name="day">
          <% for(let i = 1; i <= 31; i++ ) { %>
          <option value="<%=i%>"><%=i%></option>
          <% } %>
        </select>
      </fieldset>
      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="interest" value="여행" id="travel" />
        <label for="travel">여행</label>
        <input type="checkbox" name="interest" value="패션" id="fashion" />
        <label for="fashion">패션</label>
        <input type="checkbox" name="interest" value="음식" id="food" />
        <label for="food">음식</label>
      </fieldset>
      <button type="submit">제출</button>
    </form>
    <h3 id="nameValue"></h3>
    <script>
      function formData() {
        const form = document.form['signUp'];

        const interest = [];
        for (let input of form.interest) {
          if (input.checked) interest.push(input.value);
        }

        const data = {
          name: form.name.value,
          gender: form.gender.value,
          year: form.year.value,
          month: form.month.value,
          day: form.day.value,
          interest: interest,
        };
        return data;

        function axiosGet() {
          const data = formData();
          axios({
            method: 'GET',
            url: '/axios',
            params: data,
          }).then((res) => {
            console.log(res);
            console.log(res.data);
            $('#nameValue').text(`${res.data.name}님 환영합니다`);
          });
        }
      }
    </script>
  </body>
</html>
